:root {
  --pagePaddingY: 2vw;
  --pagePaddingX: calc(2vw + 1rem);

  --dpl-fs-2: 1.75rem;
  --dpl-fs-1: 1rem;
  --dpl-fs-0: 0.75rem;

  --c-accentHS: 332, 100%;
  --c-accentHSL: var(--c-accentHS), 45%;
}


*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::-moz-selection {
  background: hsl(var(--c-accentHS), 90%);
  color: hsl(var(--c-accentHSL));
}
::selection {
  background: hsl(var(--c-accentHS), 90%);
  color: hsl(var(--c-accentHSL));
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: var(--dpl-fs-0);
  line-height: 1.5;
  margin: 0;
  color: hsla(0,0%,20%,1);
  background: hsl(var(--c-accentHS), 90%);
  background: white;
  color: hsl(var(--c-accentHS), 15%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "tnum";
}

code {
  font-size: 0.6rem;
  font-family: "Lucida Console", Monaco, monospace;
}

.dimmed {
  opacity: 0.5;
}