:root {
  --pagePaddingY: 2vw;
  --pagePaddingX: calc(2vw + 1rem);
}


*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  color: #343434;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "tnum";
}

code {
  font-size: 0.6rem;
  background-color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
}
